/*------------------ Custom Patient-Card -------------------*/      

.md-headline {
        font-weight: 100;
        line-height: 25px;
        PADDING-BOTTOM: 12PX;
	   PADDING-RIGHT:  30PX
    }

    md-card md-card-title md-card-title-text:not(:only-child) .md-subhead {
          color: rgb(176, 190, 197);

    }
    md-card > img, md-card > md-card-header img, md-card md-card-title-media img {
          width: 90%;
          height: 95%;
    }

/*---------------------------------------------------------*/      