 md-input-container .md-input [disabled]{
    background-image: none !important;
    color:#000;
}
 md-select[disabled] .md-select-icon{
     display: none !important;
 }
 md-select[disabled]{
     
     display: block;
 } 
 md-select[disabled] .md-select-value{
        color:#000;
        background-image: none !important;
 }

 md-chips .md-chips{
     box-shadow: none !important;
 }