<div class="page-err err-not-found">
    <div class="err-container">
        <div class="container-text text-center">
            <div class="err-status">
                 <h1>404</h1>
            </div>
            <div class="err-message">
                <h2>Page not found</h2>
            </div>
        </div>
    </div>

    <div class="text-center err-body">
      <a href="#/" class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-home"></span>
        <span class="space"></span>
        Go Back to Home Page
      </a>
    </div>

</div>