<div class="page-front">
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#/" class="navbar-brand"><i class="fa fa-stumbleupon fa-2x"></i></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/">About</a></li>
          <li><a href="#/artist-list">Search artists</a></li>
          <li><a href="#/albums">Albums</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="hero-container">
    <div class="text-center top-header-text">
      <div class="front-title">
        <h1>Music service for everyone</h1>
      </div>
      <div class="front-message">
        <p>
          Groovy gives you access to your favourite music anywhere. Listen to your songs and share them with your friends creating your music connection worldwide.
        </p>
      </div>
      <div>
        <a class="btn btn-primary">
          Join Groovy
        </a>
        &nbsp;&nbsp;
        <a class="btn btn-bordered btn-bordered-white">
          Learn more
        </a>
      </div>

    </div>
    <div class="arrow_slide_down">
      <a href="#">
        <i class="fa fa-angle-down fa-2x"></i>
      </a>
    </div>
  </div>
  <div class="front-intro">

    <div class="container">

      <div class="front-intro__message">
        <h2>
          Kill the middle man
        </h2>
        <p>
          Bring your music forward and join the largest music community ever
        </p>
      </div>

      <div class="row front-intro-icons">
        <div class="col-md-3">

          <i class="fa fa-history fa-2x color-primary icon_circled">

          </i>
          <p>
            Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon
          </p>

        </div>
        <div class="col-md-3">

          <i class="fa fa-headphones fa-2x color-primary icon_circled">

          </i>
          <p>
            Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi wels community
          </p>

        </div>
        <div class="col-md-3">

          <i class="fa fa-bell-o fa-2x color-primary icon_circled">

          </i>
          <p>
            Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi amaranth tatsoi
          </p>

        </div>
        <div class="col-md-3">

          <i class="fa fa-codepen fa-2x color-primary icon_circled">

          </i>
          <p>
            Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi amaranth tatsoi
          </p>

        </div>
      </div>
    </div>

  </div>
  <div class="front-bg-section">

    <div class="container">
      <div class="front-title">
        <h1>Share your music</h1>
      </div>
      <div class="front-message">
        <p>
          Groovy gives you access to your favourite music anywhere. Listen to your songs and share them with your friends creating your music connection worldwide.
        </p>
        <p>
          <a ng-href="#/pages/signin" class="btn btn-primary">
            Create your free acount
          </a>
        </p>
      </div>
    </div>

  </div>

  <div class="front-intro">

    <div class="container">

      <div class="front-intro__message">
        <h2>
          Its your music, its your decision
        </h2>
        <p>
          We value privacy, and what you listen also belongs to you
        </p>
      </div>

      <div class="row front-intro-icons__gray">
        <div class="col-md-4">

          <i class="fa fa-sellsy fa-2x icon_gray">

          </i>
          <h3>
            Musicology
          </h3>
          <p>
            Veggies es bonus vobis, proinde vos postulo
          </p>
        </div>
        <div class="col-md-4">

          <i class="fa fa-compass fa-2x icon_gray">

          </i>
          <h3>
            Everywhere
          </h3>
          <p>
            Veggies es bonus vobis, proinde vos postulo
          </p>

        </div>
        <div class="col-md-4">

          <i class="fa fa-bolt fa-2x icon_gray">

          </i>
          <h3>
            Independency
          </h3>
          <p>
            Veggies es bonus vobis, proinde vos postulo
          </p>

        </div>
      </div>
    </div>

  </div>

  <div class="front-bg-section why-section">

    <div class="container">

      <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-6">
          <div class="front-title">
            <h3>Premium music accessibility</h3>
          </div>
          <div class="front-message">
            <p>
              Groovy gives you access to your favourite music anywhere. Listen to your songs and share them with your friends creating your music connection worldwide.
            </p>
          </div>

          <div class="front-title">
            <h3>The best plans for you</h3>
          </div>
          <div class="front-message">
            <p>
              Groovy has the best plans for your music and your business. Make whatever you like with your content, get access to other member's content and share everything
            </p>
          </div>

          <div class="front-title">
            <h3>A ton of features</h3>
          </div>
          <div class="front-message">
            <p>
              We have a big plan in mind and you are our main focus, keep benefiting from premium developments on the platform for life
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="front-intro">

    <div class="container">

      <div class="front-intro__message">
        <h2>
          Why Groovy exists
        </h2>
      </div>

      <div class="row why-exists">
        <div class="col-md-6">
          <h5>
            <i class="fa fa-headphones"></i>Music is the most high
          </h5>
        </div>
        <div class="col-md-6">
          <h5>
            <i class="fa fa-calendar"></i>Synch with all your life
          </h5>
        </div>
        <div class="col-md-6">
          <h5>
            <i class="fa fa-heart"></i>We are love music
          </h5>
        </div>
        <div class="col-md-6">
          <h5>
            <i class="fa fa-bell"></i>We are aware of you
          </h5>
        </div>
        <div class="col-md-6">
          <h5>
            <i class="fa fa-code"></i>We code form musicians
          </h5>
        </div>
        <div class="col-md-6">
          <h5>
            <i class="fa fa-history"></i>We value history
          </h5>
        </div>
        <div class="col-md-6">
          <h5>
            <i class="fa fa-home"></i>We are your home
          </h5>
        </div>
        <div class="col-md-6">
          <h5>
            <i class="fa fa-trophy"></i>We salute accomplishment
          </h5>
        </div>
      </div>
    </div>

  </div>

</div>